// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

//fonts files for Lato Regular, light

@import url("../fonts/Lato-Light.ttf");
@import url("../fonts/Lato-Regular.ttf");

$font-family: "TheOpenDoorRegular";
@font-face {
	font-family: 'TheOpenDoorRegular';
	src: url('../fonts/Lato-Regular.ttf') format('truetype')
}
@font-face {
	font-family: 'TheOpenDoorLight';
	src: url('../fonts/Lato-Light.ttf') format('truetype')
}

html {
  font-size: 100% !important;
}

body.x-desktop {
  font-size: 100% !important;
}


// Your custom code goes here...
@import 'common/color';
@import 'common/text';
@import 'common/common';
@import 'common/font';
@import 'components/header';
@import 'components/timePicker';


//phone with portrait
@media only screen
and (max-width : 760px) 
and (orientation : portrait)
{
	@import 'views/phone/main';
	@import 'views/phone/login';
	@import 'views/phone/slider';
	@import 'views/phone/dashboard';
	@import 'views/phone/order';
	@import 'views/phone/address';
	@import 'views/phone/datetime';
}

//tablet with portrait
@media only screen
and (min-width : 768px)
and (orientation : portrait){
}


