.timePickerCls{
	width: 80% !important;
	height:10.5rem !important;
	padding: 0 !important;
		background-color: $color-font2 !important;
		background-image: none !important; 
	.x-toolbar{
		min-height: 2em !important;
	}
	.x-toolbar .x-button {
		margin: 0 !important;
	
	}
	.x-toolbar-dark{
		background-image: none !important;
		background-color: $color-font2 !important;
		border-color: transparent !important;
	}
	.x-toolbar-dark.x-docked-top {
		border-bottom-color: transparent;
	}
	.x-toolbar.x-docked-top {
		border-bottom: 0px;
	}
	.x-toolbar-dark .x-button{
		background-color: transparent !important;
		background-image: none !important;
		border: none !important;
		border-top-color: transparent !important;
	}
	.x-button-label{
		color: white !important;
		font-family: "Gill Sans";
		font-size: 1rem;		
	}
	.x-picker-inner{
			margin: 0  0.4rem 0.4rem 0.4rem !important;
			background-color: $color-font2 !important;
			.x-picker-item {
				text-align: left;
			}
	}
	.x-picker-slot .x-dataview-item.x-item-selected{
		@include text('label-regular-font3-16','single');
		.x-picker-item {
			color: $color-font1 !important;
		}
	}
	.x-picker-slot .x-dataview-item{
		@include text('label-regular-font3-16','single');
	}
	.x-anchor.x-anchor-top{
		width: 0 !important;
		height: 0 !important;
		-webkit-mask: none !important;
		-webkit-mask-size: 0 !important;
	}
	.x-picker-slot-title{
		padding: 0.2em 0.2em;
	}
}

.defaultPickerCls{
	height:10.5em;
	width:22.065rem;
	padding: 0 !important;
		background-color: #888888 !important;
		background-image: none !important; 
	.x-toolbar{
		min-height: 2em !important;
	}
	.x-toolbar .x-button {
		margin: 0 !important;
	
	}
	.x-toolbar-dark{
		background-image: none !important;
		background-color: #888888 !important;
		border-color: transparent !important;
	}
	.x-toolbar-dark.x-docked-top {
		border-bottom-color: transparent;
	}
	.x-toolbar.x-docked-top {
		border-bottom: 0px;
	}
	.x-toolbar-dark .x-button{
		background-color: transparent !important;
		background-image: none !important;
		border: none !important;
		border-top-color: transparent !important;
	}
	.x-button-label{
		
	}
		.x-anchor.x-anchor-top{
				width: 0 !important;
				height: 0 !important;
				-webkit-mask: none !important;
				-webkit-mask-size: 0 !important;
		}
		.x-picker-inner{
			margin: 0 0.4rem 0.4rem 0.4rem !important;
			
			.x-picker-item {
			
				
			}
			.x-picker-slot .x-dataview-inner{
		padding-top: 2.8em !important;
	}
	}
}