.address-service-order{
	height: 100%;
	width: 100%;
	.empty-address-container{
		.add-address-home-image{
			background-size: contain;
		    height: 15rem;
		    width: 13rem;
		}
		.add-address-label{
			border: none;
    		height: 3rem;
			.x-button-label{
				@include text('label-light-font-44','single');
				text-align: center;
			}
		}
	}
	.address-detail-container{
		height: 100%;
		width: 100%;		
		.address-diff-label{
			margin-top: 3rem;
			margin-left: 5%;
		    margin-bottom: 0.5rem;
			.x-innerhtml{
				@include text('label-regular-font-24','single');
			}
		}
		.address-dataview-view{
			width: 90%;
			margin: 0 5%;
			height: 80%;
		}
	}
	.add-new-address-button{
		border: 1px solid #cccccc;
		border-radius: 0;
		width: 100%;
		background-color: $color-font1;
		height: 3.2rem;
		.x-button-label{
			@include text('label-light-white-32','single');
		}
	}
}

.data-item-container{
	height: 15rem;
	margin: 0 0 1rem 0;
	border: 1px solid $color-border2;
	background-color: $color-background1;
	.full-address-container{
		width: 93%;
    	margin: 0 3.5%;
		.full-address-div{

		}
		.address-name{
			height: 1.5rem;
			border-bottom: 1px solid $color-border1;
			@include text('label-regular-font2-16','single');
			margin-top: 0.5rem;
		}
		.address-line{
			height: 1.5rem;
			text-align: justify;
			margin-top: 0.5rem;
			border-bottom: 1px solid $color-border1;
			@include text('label-regular-font2-16','single');
		}
		.address-cps{
			height: 1.5rem;
			text-align: justify;
			margin-top: 0.5rem;
			border-bottom: 1px solid $color-border1;
			@include text('label-regular-font2-16','single');
		}
		.address-country{
			height: 1.5rem;
			text-align: justify;
			margin-top: 0.5rem;
			border-bottom: 1px solid $color-border1;
			@include text('label-regular-font2-16','single');
		}
	}
	.address-deledit-button-container{
		width: 100%;
		.delete-container{
			margin-right: 2rem;
			.address-delete-icon{
				background-size: contain;
			    height: 2rem;
			    width: 2rem;
			}
			.address-delete-label{
				@include text('label-regular-font-12','single');
				text-align: center;
			}
		}
		.edit-container{
		    margin-right: 3%;
			.address-edit-icon{
				background-size: contain;
			    height: 2rem;
			    width: 2rem;
			}
			.address-edit-label{
				@include text('label-regular-font-12','single');
				text-align: center;
			}
		}
		.address-edit-button{
			border: 1px solid #cccccc;
			margin-right: 15%;
		}
		.address-delete-button{
			border: 1px solid #cccccc;
			margin-right: 0.2rem;
		}
	}
}

.x-field-radio .x-field-mask::after{
	background-image: url("../images/icons/tickicon_unchecked.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.x-input-radio:checked+.x-field-mask::after{
	background-image: url("../images/icons/tickicon_checked.png");
	background-size: contain;
	background-repeat: no-repeat;
	color: transparent;
}

.add-edit-address-view{
	.dashboard-view-container{
		width: 90%;
    	margin: 4rem 5% 10% 5%;
		.add-edit-address-label{
			text-align: center;
			.x-innerhtml{
				@include text('label-regular-font-24','single');
			}
		}
		.icon-field-container{
			width: 100%;
			border-bottom: 1px solid $color-border1 !important;
			margin: 0.5rem 0 0;
			.name-icon{
				background-size: contain;
			    height: 2rem;
			    width: 2.5rem;
			    margin-top: 0.3rem;
			}
			.call-icon{
				background-size: contain;
			    height: 2rem;
			    width: 2.5rem;
			    margin-top: 0.2rem;
			}
			.address-icon{
				background-size: contain;
			    height: 2rem;
			    width: 2.5rem;
			    margin-top: 0.3rem;
			}
			.name-textfield{
				width: 85%;
				.x-field-input{
	  				border-radius: 0;
	  				border: none;
				}
				.x-input-el{
					border-left: 1px solid $color-font1 !important;
					border: none;
					margin-bottom: 0.2rem;
					min-height: 2rem !important;
					@include text('label-regular-font2-16','single');
				}
			}
		}
		.other-textfield{
			width: 100%;
    		padding-left: 2.5rem;
			margin-top: 0.5rem;
			.x-field-input{
	  			border-radius: 0;
	  			border: none;
	  			border-bottom: 1px solid #eaeaea !important;
			}
			.x-input-el{
				border: none;
				margin-bottom: 0.2rem;
				min-height: 2rem !important;
				@include text('label-regular-font2-16','single');
			}
		}
	}
	.save-address-button{
		border: 1px solid #cccccc;
		border-radius: 0;
		width: 100%;
		background-color: $color-font1;
		height: 3.2rem;
		.x-button-label{
			@include text('label-light-white-32','single');
		}		
	}
}
