.carousel-container{
	height: 100%;
	width: 100%;
}
.center-logo-image{
	background-size: contain;
	//width: 4rem;
	//height: 4rem;
	position: absolute;
  	z-index: 2;
  	margin: 10px 39%;
  	background-size: 80px 80px !important;
    height: 5rem;
    width: 5rem;
}
.carousel-images{
	background-size: 100% 100%;
}