.order-view{
	margin-top: 10%;
	.dataview-outercontainer{
		width: 90%;
    	margin: 1rem 5%;
    	.service-name-label{
    		@include text('label-regular-font2-16','single');
    	}
		.service-button-container{
			width: 100%;
			.rate-card-btn{
			    border-radius: 0;
			    border: 1px solid $color-font1;
			    background-color: #f9f9f9;
			    .x-button-label{
			    	@include text('label-regular-font-16','single');
			    }
			}
			.book-now-btn{
				border-radius: 0;
				border: 1px solid $color-font1;
				background-color: $color-font1;
				.x-button-label{
					@include text('label-regular-font3-16','single');
				}
			}
		}
		.service-image{
			background-size: 100% 100%;
			height: 15rem;
			width: 100%;
			background-repeat: no-repeat;
		}
	}	
}

.view-all-orders{
	.no-order-container{
		.no-order-image{
			background-size: contain;
    		height: 12rem;
    		width: 100%;
		}
	}
	.no-order-book-now-btn{
		border: 1px solid #cccccc;
		border-radius: 0;
		width: 100%;
		background-color: $color-font1;
		height: 3.2rem;
		.x-button-label{
			@include text('label-light-white-32','single');
		}
	}
	.arrow-image-div{
		float: right;
	    width: 10%;
	    position: relative;
	    display: inline;
	    height: 8rem;
	}
	.arrow-image{
	    height: 3rem;
    	margin-top: 2.5rem;
	}
	.all-order-list{

	}
	.order-status-image-div{
		float: left;
	    width: 6rem;
	    height: 8rem;
	}
	.order-status-image{
		height: 5rem;
    	margin-top: 1.5rem;
    	margin-bottom: 1.5rem;
    	margin-left: 0.5rem;
	}
	.main-order-div{
		height: 8rem;
		display: inline;
    	position: absolute;
	}
	.order-time{
		@include text('label-regular-font5-16','single');
		margin-bottom: 0.8rem;
		white-space: pre-wrap !important;
  		word-wrap: break-word !important;
	}
	.order-value-label{
		@include text('label-regular-font2-16','single');
	}
	.order-date{
		@include text('label-regular-font5-16','single');
		margin-bottom: 0.8rem;
    	margin-top: 1.2rem;
	}
	.order-service{
		@include text('label-regular-font5-16','single');
	}
	.x-list .x-list-item.x-list-item-relative{
		margin: 1rem 5%;
    	width: 90%;
    	border: 1px solid $color-border2;
    	background-color: $color-background1;
    	height: 8rem;
	}
	.x-list .x-list-item.x-list-item-first{
		margin-top: 3rem;
	}
	.x-list .x-list-item.x-item-selected.x-list-item-tpl{
		background-color: $color-border2;
	}
}
.final-order-preview{
	.final-order-container{
		width: 90%;
		margin: 10% 5%;
		.user-name-label{
			@include text('label-regular-font2-16','single');
			font-weight: bold;
			margin-top: 1.5rem;
		}
		.selected-service-label{
			@include text('label-regular-font2-16','single');
			margin-top: 0.3rem;
    		margin-bottom: 1.5rem;
    		white-space: pre-line !important;
    		word-wrap: break-word !important;
		}
		.maid-reach-label{
			@include text('label-regular-font-16','single');
			margin-bottom: 0.5rem;
			.x-innerhtml{
				text-overflow: ellipsis;
    			word-wrap: break-word;
   				white-space: pre-line;
			}
		}
		.address-label{
			@include text('label-regular-font2-16','single');
			margin-bottom: 0.2rem;
			.x-innerhtml{
				text-overflow: ellipsis;
    			word-wrap: break-word;
   				white-space: pre-line;
			}
		}
		.landmark-label{
			@include text('label-regular-font2-16','single');
			margin-bottom: 0.2rem;
			.x-innerhtml{
				text-overflow: ellipsis;
    			word-wrap: break-word;
   				white-space: pre-line;
			}
		}
		.pincode-label{
			@include text('label-regular-font2-16','single');
			margin-bottom: 0.2rem;
			.x-innerhtml{
				text-overflow: ellipsis;
    			word-wrap: break-word;
   				white-space: pre-line;
			}
		}
		.mobile-label{
			@include text('label-regular-font2-16','single');
			margin-bottom: 0.2rem;
			.x-innerhtml{
				text-overflow: ellipsis;
    			word-wrap: break-word;
   				white-space: pre-line;
			}
		}
		.time-label{
			@include text('label-regular-font2-16','single');
			.x-innerhtml{
				text-overflow: ellipsis;
    			word-wrap: break-word;
   				white-space: pre-line;
			}
		}
		.order-time-label{
			@include text('label-regular-font-16','single');
		}	
	}
	.place-order-button{
		border: 1px solid #cccccc;
		border-radius: 0;
		width: 100%;
		background-color: $color-font1;
		height: 3.2rem;
		.x-button-label{
			@include text('label-light-white-32','single');
		}
	}
}

.order-detail{
	.order-detail-container{
		width: 100%;
		margin-top: 2rem;
		.order-id-status-service{
			width: 100%;
		    height: 4rem;
		    padding: 0 5%;
		    border-bottom: 1px solid #eaeaea;
			.order-service-id{
				.order-service{
					@include text('label-regular-font-16','single');
				}
				.order-id{
					@include text('label-regular-font-16','single');
				}
			}
			.order-status{
				@include text('label-regular-font-16','single');
				margin-top: 1.4rem;
				.x-innerhtml{
				    height: 1.5rem;
				    background-color: $color-font2;
				    padding: 0 0.5rem;
				}
			}
		}
		.booked-time-container{

		}
		.address-container{

		}
		.scheduled-time-container{

		}
		.time-container{
			.start-time-label{

			}
		}
		.total-bill-container{
			height: 4rem;
			.total-bill{
				.order-service{

				}
				.bill-value{

				}
			}
			.mail-invoice-button{
				background-color: $color-font2;
			    border: none;
			    border-radius: 0;
			    .x-button-label{
			    	@include text('label-regular-font-16','single');
			    }
			}
		}

	}
	.cancel-order-button{
		border: 1px solid #cccccc;
		border-radius: 0;
		width: 100%;
		background-color: $color-font1;
		height: 3.2rem;
		.x-button-label{
			@include text('label-light-white-32','single');
		}
	}
}