.order-view{
	margin-top: 10%;
	.dataview-outercontainer{
		width: 90%;
    	margin: 1rem 5%;
    	.service-name-label{
    		@include text('label-regular-font2-16','single');
    	}
		.service-button-container{
			width: 100%;
			.rate-card-btn{
			    border-radius: 0;
			    border: 1px solid $color-font1;
			    background-color: #f9f9f9;
			    .x-button-label{
			    	@include text('label-regular-font-16','single');
			    }
			}
			.book-now-btn{
				border-radius: 0;
				border: 1px solid $color-font1;
				background-color: $color-font1;
				.x-button-label{
					@include text('label-regular-font3-16','single');
				}
			}
		}
		.service-image{
			background-size: contain;
			height: 12rem;
			width: 90%;
			background-repeat: no-repeat;
		}
	}	
}

.view-all-orders{
	.div-arrow-image{
		background-image: url("../images/icons/right_arrow.png");
		  background-repeat: no-repeat;
		  background-size: contain;
		  height: 1.5rem;
		  width: 1.5rem;
		  float: right;
	}
}