.slide-navigator-toolbar{
  border-bottom: 1px solid $color-border3 !important;
  .x-scroll-scroller{
    background-color: $color-font2;
  }
	background-color: $color-font2;
	border: none;
  	border-radius: 0 !important;
  	height: 4rem !important;
  	min-height: 4rem !important;
  	.x-innerhtml{
  		line-height: 3rem;
  		font-size: 1rem;
  		font-family: "MyMaidSemiBold";
  	}
}

.home-slider-toolbar{
  background-color: $color-font2;
  border-radius: 0 !important;
  height: 3.2rem;
  z-index: 1;
}
.center-toolbar-image{
    background-size: contain;
    width: 5rem;
    height: 5rem;
    z-index: 1000;
    top: 0;
    margin-top: 4px;
}
.newUI-header-style{
  .x-toolbar{
    overflow: inherit;
  }
}

.slider-icon{
    height: 50px;
    margin-top: 5px;
}
.slider-cls{
  .x-toolbar{
    min-height: 0 !important;
  }
  .x-toolbar.x-docked-top{
    border-bottom: none;
  }
  .x-list .x-list-item.x-list-item-tpl:before{
    border-bottom: none;
  }
  .x-list .x-list-item.x-item-selected.x-list-item-tpl{
    background-color: $color-font2;
  }
  .x-list .x-list-item.x-list-item-tpl .x-innerhtml{
    padding: 0;
  }
  .x-list .x-list-item.x-list-item-relative{
    margin: 1rem 0;
  }
  .slider-label{
    color: white;
    font-family: "TheOpenDoorLight";
    line-height: 42px;
    .text{
      margin-left: 0.5rem;
    }
  }
}
.user-logo-div{
  float: left;
}
.arrow-slider-image{
    height: 20px;
}