.slide-navigator-toolbar{
  .x-scroll-scroller{
    background-color: $color-font2;
  }
	background-color: $color-font2;
	border: none;
  	border-radius: 0 !important;
  	height: 4rem !important;
  	min-height: 4rem !important;
  	.x-innerhtml{
  		line-height: 3rem;
  		font-size: 1rem;
  		font-family: "MyMaidSemiBold";
  	}
}

.home-slider-toolbar{
  background-color: #919191;
  border-radius: 0 !important;
}
.center-toolbar-image{
    background-size: contain;
    width: 4rem;
    height: 4rem;
    z-index: 1000;
    top: 0;
}
.newUI-header-style{
  .x-toolbar{
    overflow: inherit;
  }
}

.slider-icon{
    height: 50px;
    margin-top: 5px;
}
.slider-cls{
  .x-list .x-list-item.x-list-item-tpl:before{
    border-bottom: none;
  }
}
.user-logo-div{
  float: left;
}
.user-label{
  line-height: 4rem;

}