$color-font1: #3bbfc6;
$color-font2: #3a3a3a;
$color-font3: #ffffff;
$color-font4: #3f3f3f;
$color-font5: #aeadae;
$color-border1: #eaeaea;
$color-border2: #e0e0e0;
$color-border3: #cccccc;
$color-background1: #f4f4f4;